@page "/"
@using BlazorServerApp.Services;
@inject IFileUpload fileUpload;

@*<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@

<div class="col-6">
    <h1>Upload File</h1>
    <div class="from-group">
        <InputFile OnChange="OnInputFileChange" multiple />
        <button class="btn btn-sm btn-success" type="button" @onclick="UploadFiles">Upload</button> <br />
    </div>
    <br />
    <label>@labelText</label>
    <br />

</div>


@code{
    IReadOnlyList<IBrowserFile> selectedFiles;

    private string labelText = "";

    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        selectedFiles = new List<IBrowserFile>();
        selectedFiles = e.GetMultipleFiles();
    }

    private async Task UploadFiles()
    {
        try
        {
            if(selectedFiles is not null && selectedFiles.Count > 0)
            {
                foreach(var file in selectedFiles)
                {
                    await fileUpload.UploadFile(file);

                }
                labelText = $"Upload of {selectedFiles.Count} files successful";
            }
        }
        catch(Exception ex)
        {
            labelText = $"Upload Failed due to {ex.Message}";
        }
    }

}